.pan-header {
    min-height: 60px;
    width: 100%;
    background: rgb(244, 244, 244);
    border: 0 solid rgb(211, 211, 211);
    border-bottom-width: 1px;

    .nav-buttons {
        position: fixed;
        display: block;
        margin-left: 8px;
        top: 30px;

        input {
            width: 25px;
            height: 25px;
            border: 0.5px;
            background: white;
            border-radius: 5px;
        }
    }
    
    .function-buttons {
        position: fixed;
        left: 200px;
        top: 20px;

        .upload {
            width: 80px;
            height: 20px;
            border: 0.5px;
            position: relative;
            top: 10px;
            background: rgb(77, 137, 247);
            border-radius: 5px;
        }

        .new-file {
            width: 100px;
            height: 20px;
            border: 0.5px;
            position: relative;
            top: 10px;
            background: white;
            border-radius: 5px;
        }
    }

    .function-right-buttons {
        float: right;
        position: fixed;
        top: 30px;
        right: 5px;
        display: inline-flex;

       .search {
           width: 190px;
           margin-right: 5px;
       }

       .button {
            width: 25px;
            height: 25px;
            border: 0.5px;
            background: white;
            border-radius: 5px;
            margin-right: 5px;
       }

       .refresh {
           margin-left: 5px;
       }
    }
}